


.destination-map {
    position: relative;
    left: 20rem;
    bottom: 14rem;

}

/* .destination-map img{
    margin-top: -10rem;
    position: relative;
    left: 10rem;
} */

.destination-info{
    /* text-align: left; */
    background-color: rgba(233, 248, 230, 0.432);
    width: 40px;
    height: 350px;
    position: relative;
    bottom: 10rem;
    left: 10rem;
    padding: 2rem;
    border-radius: 10px;

}

.destination-info input {
    margin-top: 1rem;
}